/* Stile generale del corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Sfondo chiaro */
    padding-top: 70px; /* Spazio per la navbar fissa */
}

/* Stile della Navbar */
.navbar {
    transition: background-color 0.3s;
}

.nav-link {
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007bff; /* Colore primario di Bootstrap */
}

/* Sezione Hero */
.hero-section {
    background-color: #b0c4de; /* Placeholder background color */
    height: 60vh;
    color: #343a40; /* Dark text for better contrast */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Card delle funzionalità */
.feature-card {
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Z-index per l'immagine */
.img-fluid {
    position: relative;
    z-index: 1;
}

/* Stile del footer */
footer {
    background-color: #343a40; /* Colore scuro di Bootstrap */
}